<div class="container">
  <div id="inputrow" class="row align-items-center">
    <div class="col-md-3">
      <div class="form-group">
        <input [(ngModel)]="von" type="text" placeholder="Von">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Datum">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input [(ngModel)]="nach" type="text" placeholder="Nach">
      </div>
      <div class="form-group">
        <input [(ngModel)]="anzahl" type="text" placeholder="Anzahl Plätze">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input [(ngModel)]="gewicht" type="text" placeholder="Gewicht Fracht">
      </div>
      <div class="form-group">
        <input [(ngModel)]="ausmessung" type="text" placeholder="Maße Fracht">
      </div>
    </div>
    <div class="col-md-1 ">
      <div class="form-group">
        <button (click)="filter()" id="filter" type="button" class="btn">
          <i id="searchicon" class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div id="überschriftrow" class="row">
    <div id="überschrift" class="col-4 col-md-5">
      <h2>Angebote</h2>
    </div>
    <div id="createofferdiv" class="col-2 col-md-6 d-flex justify-content-center align-items-center">
      <button [routerLink]="['/createoffer']" id="createoffer" type="button" class="btn">
        <i id="faplus" class="bi bi-plus-lg"></i>
      </button>
      <span id="angebotschrift">Angebot erstellen</span>
    </div>
  </div>
  <div class="card">
    <div class="row cardrow">
      <div class="col-md-4 vonnach">
        <span>Hamburg</span> nach <span class="Zielort">München </span>
      </div>
      <div class="col-md-4 datum">
        So, 25.09.2022 9Uhr
      </div>
      <div class="col-lg-4">
        <img class="anbieterbild"
             src="../../assets/images/Offers/frau.jpg">
        <span class="name">LV</span>
        <!--Hier kann eine forschleife angebracht werden, die je nach Bewertung die Sterne ausfüllt oder nicht-->
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <i class="bi bi-person"></i>
        <span> 3</span>
      </div>
      <div class="col-lg-2">

        <i class="bi bi-minecart-loaded"></i>
        <span>  50k </span>
      </div>
      <div class="col-lg-3">
        <i class="bi bi-arrows-angle-expand"></i>
        <span> 1,50m x 2m </span>
      </div>
    </div>
    <div class="row d-flex justify-content-start">
      <div class="col-md-2">
        <i class="bi bi-check-lg firstinformation"></i>Nichtraucher
      </div>
      <div class="col-lg-2">
        <i class="bi bi-check-lg"></i>Keine Tiere
      </div>
      <div class="col-lg-2">
        <i class="bi bi-check-lg"></i>Musik
      </div>
      <div class="col-lg-2">
        <i class="bi bi-x-lg"> </i>Unterhaltung
      </div>
      <div class="col-lg-4 justify-content-end">
        <div class="d-flex preisdiff ">
          <span class="preis">30€</span>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="row cardrow">
      <div class="col-md-4 vonnach">
        <span>Leipzig</span> nach <span class="Zielort">Köln </span>
      </div>
      <div class="col-md-4 datum">
        Mi, 02.05.2022 18Uhr
      </div>
      <div class="col-lg-4">
        <img class="anbieterbild"
             src="../../assets/images/Offers/mann.png">
        <span class="name">ZM</span>
        <!--Hier kann eine forschleife angebracht werden, die je nach Bewertung die Sterne ausfüllt oder nicht-->
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <i class="bi bi-person"></i>
        <span> 2</span>
      </div>
      <div class="col-lg-2">

        <i class="bi bi-minecart-loaded"></i>
        <span>  23k </span>
      </div>
      <div class="col-lg-3">
        <i class="bi bi-arrows-angle-expand"></i>
        <span> 3,00m x 2,4m </span>
      </div>
    </div>
    <div class="row d-flex justify-content-start">
      <div class="col-md-2">
        <i class="bi bi-check-lg firstinformation"></i>Nichtraucher
      </div>
      <div class="col-lg-2">
        <i class="bi bi-x-lg"></i>Keine Tiere
      </div>
      <div class="col-lg-2">
        <i class="bi bi-x-lg"></i>Musik
      </div>
      <div class="col-lg-2">
        <i class="bi bi-check-lg"> </i>Unterhaltung
      </div>
      <div class="col-lg-4 justify-content-end">
        <div class="d-flex preisdiff ">
          <span class="preis">50€</span>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="row cardrow">
      <div class="col-md-4 vonnach">
        <span>Gießen</span> nach <span class="Zielort">Marburg </span>
      </div>
      <div class="col-md-4 datum">
        So, 27.02.2024 12Uhr
      </div>
      <div class="col-lg-4">
        <img class="anbieterbild"
             src="../../assets/images/Offers/mann2.png">
        <span class="name">HB</span>
        <!--Hier kann eine forschleife angebracht werden, die je nach Bewertung die Sterne ausfüllt oder nicht-->
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <i class="bi bi-person"></i>
        <span> 5</span>
      </div>
      <div class="col-lg-2">

        <i class="bi bi-minecart-loaded"></i>
        <span>  10k </span>
      </div>
      <div class="col-lg-3">
        <i class="bi bi-arrows-angle-expand"></i>
        <span> 2,50m x 3m </span>
      </div>
    </div>
    <div class="row d-flex justify-content-start">
      <div class="col-md-2">
        <i class="bi bi-check-lg firstinformation"></i>Nichtraucher
      </div>
      <div class="col-lg-2">
        <i class="bi bi-x-lg"></i>Keine Tiere
      </div>
      <div class="col-lg-2">
        <i class="bi bi-x-lg"></i>Musik
      </div>
      <div class="col-lg-2">
        <i class="bi bi-x-lg"> </i>Unterhaltung
      </div>
      <div class="col-lg-4 justify-content-end">
        <div class="d-flex preisdiff ">
          <span class="preis">70€</span>
        </div>
      </div>

    </div>
  </div>
</div>
