<!-- contact section -->
    <div class="container">
      <div class="row">
        <div class="col-6 align-items-end">
          <h2>
            Login
          </h2>
        </div>
        <div class="col-6">
          <img id="logo" src="../../assets/images/myCargonautLogo/SVG/semi_iOSMyCargonaut.svg" height="100" width="200">
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="mail" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="password" placeholder="Passwort" />
                </div>
                <div id="submit" class="d-flex">
                    <button class="btn" (click)="Login()">Login</button>
                </div>
                <p style="text-align: center; padding-top: 20px">
                    Du hast noch keinen Account?<br />
                    <a [routerLink]="['/register']"> Hier gehts zur Registrierung </a>
                </p>
            </div>
        </div>
    </div>
