<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-bg-color">
  <div class="container-fluid">
    <a href="#">
      <img src="../../assets/images/myCargonautLogo/SVG/semi_iOSMyCargonaut.svg" alt="myCargonautLogo"
           class="navbar-brand navbarLogo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse place-right" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nunitoNavbar">
        <li class="nav-item navbarSpacing marginTop">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/offers']">Angebote</a>

        </li>
        <li class="nav-item navbarSpacing marginTop">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/requests']">Gesuche</a>
        </li>
        <li *ngIf="userIsLoggedIn" class="nav-item navbarSpacing marginTop">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/myoffers']">Meine Angebote</a>
        </li>
        <li *ngIf="userIsLoggedIn" class="nav-item navbarSpacing marginTop">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/myrequests']">Meine Gesuche</a>
        </li>
      </ul>
      <ul *ngIf="userIsLoggedIn" class="navbar-nav mr-auto mb-2 mb-lg-0 nunitoNavbar">
        <li class="nav-item iconSpacing">
          <a class="nav-link active" aria-current="page"
             href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/?sort=due_date&state=opened&first_page_size=100">
            <!-- messages -->
            <i class="bi bi-chat-right-text"></i>
          </a>
        </li>
        <li  class="nav-item iconSpacing">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/offers']">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li class="nav-item iconSpacing">
          <a class="nav-link active" aria-current="page"
             [routerLink]="['/profile']">
            <i class="bi bi-person-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
