<div class="container">
  <div id="überschriftrow" class="row">
    <div id="überschrift" class="col-4 col-md-5">
      <h2>Meine Angebote</h2>
    </div>

  </div>
  <div id="offercards" class="card">
    <div id="cardrow" class="row">
      <div id="vonnach" class="col-md-4">
        <span >Hamburg</span> nach <span id="Zielort">München </span>
      </div>
      <div id="datum" class="col-md-4">
        So, 25.09.2022 9Uhr
      </div>
      <div class="col-lg-4">
        <img id="anbieterbild"
             src="../../assets/images/Offers/frau.jpg">
        <span id="name">LV</span>
        <!--Hier kann eine forschleife angebracht werden, die je nach Bewertung die Sterne ausfüllt oder nicht-->
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <div  class="row">
      <div class="col-lg-2">
        <i class="bi bi-person"></i>
        <span> 3</span>
      </div>
      <div class="col-lg-2">

        <i class="bi bi-minecart-loaded"></i>
        <span>  50k </span>
      </div>
      <div class="col-lg-3">
        <i class="bi bi-arrows-angle-expand"></i>
        <span> 1,50m x 2m </span>
      </div>
    </div>
    <div id="lastlinerow" class="row d-flex justify-content-start">
      <div class="col-md-2">
        <i id="firstinformation" class="bi bi-check-lg"></i>Nichtraucher
      </div>
      <div class="col-lg-2">
        <i class="bi bi-check-lg"></i>Keine Tiere
      </div>
      <div class="col-lg-2">
        <i class="bi bi-check-lg"></i>Musik
      </div>
      <div class="col-lg-2">
        <i id="lastinformation" class="bi bi-x-lg"> </i>Unterhaltung
      </div>
      <div class="col-lg-4 justify-content-end">
        <div id="preisdiff" class="d-flex ">
          <span id="preis">30€</span>
        </div>
      </div>
    </div>
  </div>
</div>
