<footer class="footer bg-light text-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h5>About Us</h5>

            </div>
            <div class="col-lg-4 col-md-6">
                <h5>Contact</h5>
            </div>
            <div class="col-lg-4">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/thm.de/?locale=de_DE"><i
                                class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/thmittelhessen?lang=de"><i
                                class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/thmittelhessen/?hl=de"><i
                                class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2023 MyCargonaut. All rights reserved.</p>
        </div>
    </div>
</footer>