<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-bg-color">
    <div class="container-fluid">
        <a href="#">
            <img src="../../assets/images/myCargonautLogo/SVG/semi_iOSMyCargonaut.svg" alt="myCargonautLogo"
                class="navbar-brand navbarLogo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse place-right" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 nunitoNavbar">
                <li class="nav-item navbarSpacing marginTop">
                    <a class="nav-link active" aria-current="page"
                        href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/8">Angebote</a>
                    <!-- add link to Angebote -->
                </li>
                <li class="nav-item navbarSpacing marginTop">
                    <a class="nav-link active" aria-current="page"
                        href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/8">Gesuche</a>
                    <!-- add link to Gesuche -->
                </li>
                <li class="nav-item navbarSpacing marginTop">
                    <a class="nav-link active" aria-current="page"
                        href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/31">Meine Fahrten</a>
                    <!-- add link to Meine Fahrtene -->
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0 nunitoNavbar">
                <li class="nav-item iconSpacing">
                    <a class="nav-link active" aria-current="page"
                        href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/?sort=due_date&state=opened&first_page_size=100">
                        <!-- messages -->
                        <i class="bi bi-chat-right-text"></i>
                    </a>
                </li>
                <li class="nav-item iconSpacing">
                    <a class="nav-link active" aria-current="page"
                        href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/3"> <!-- add link to Suche -->
                        <i class="bi bi-search"></i>
                    </a>
                </li>
                <li class="nav-item iconSpacing">
                    <a class="nav-link active" aria-current="page"
                        href="https://git.thm.de/jcwb53/kms-cargonout/-/issues/32"> <!-- add link to Profil -->
                        <i class="bi bi-person-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>