<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gesuch erstellen</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .center-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .smaller-text {
      font-size: 30px;
      text-align: left;
    }

    .rounded {
      border-radius: 10px;
    }

    input[type="text"],
    input[type="date"],
    select,
    textarea {
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
<div class="container center-content">
  <div class="col-lg-6">
    <h1 class="smaller-text" style="margin-bottom: 30px">Kasse</h1>
    <form [formGroup]="myForm" (ngSubmit)="validateForm()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="datum">Name & Vorname</label>
            <input type="text" class="form-control" id="datum" formControlName="datum" required>
          </div>
          <div class="form-group">
            <label for="time">Anschrift</label>
            <input type="text" class="form-control" id="time" formControlName="time">
          </div>
          <div class="form-group">
            <label for="anzahlPersonen">Telefonnummer</label>
            <input type="text" class="form-control" id="anzahlPersonen" formControlName="anzahlPersonen" required>
          </div>
          <div class="form-group">
            <label for="fracht">E-Mail</label>
            <input type="text" class="form-control" id="fracht" formControlName="fracht" required>
          </div>
          <div class="form-group">
            <label for="von">Kreditinstitut</label>
            <input type="text" class="form-control" id="von" formControlName="von" required>
          </div>
          <div class="form-group">
            <label for="nach">IBAN</label>
            <input type="text" class="form-control" id="nach" formControlName="nach" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="anmerkungen">Anmerkungen</label>
            <textarea class="form-control" id="anmerkungen" formControlName="anmerkungen"></textarea>
          </div>
          <div class="form-group" style="margin-top: 200px">
            <label style="font-size: large; font-weight: bold;">Trackingoptionen</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="keineTiere" formControlName="keineTiere">
              <label class="form-check-label" for="keineTiere">Mein Fahrer soll seinen Standort mit mir teilen.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="nichtraucher" formControlName="nichtraucher">
              <label class="form-check-label" for="nichtraucher">Ich will nicht den Standort meines Fahrers sehen.</label>
            </div>
            <button type="submit" style="margin-top: 20px; background-color: #3A9B8F; color: white" class="btn float-right" [routerLink]="['/myrequests']">Bezahlen</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
